<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153109414280-pdaudt19ctmk9p028buvqd1vhtkl2qv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153109414280-pdaudt19ctmk9p028buvqd1vhtkl2qv1</string>
	<key>API_KEY</key>
	<string>AIzaSyC3RGYNHORTxfVAYWbKuJLfh3z766o1ew8</string>
	<key>GCM_SENDER_ID</key>
	<string>153109414280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iedutain.learnbot</string>
	<key>PROJECT_ID</key>
	<string>learnbot-f9127</string>
	<key>STORAGE_BUCKET</key>
	<string>learnbot-f9127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153109414280:ios:8d555a0b414d65a521fa3d</string>
	<key>DATABASE_URL</key>
	<string>https://learnbot-f9127.firebaseio.com</string>
</dict>
</plist>